# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets
*.pem
*.key
.env
*.csv

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover
bandit-report.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfstate.d/
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log
terraform/crash.*.log
terraform/*.tfplan
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/lambda_backend_control.zip
terraform/main.tf
terraform/plan.txt
terraform/security_groups.tf

# SSH keys (на всякий случай)
*.pem
*.key

ansible/README.md

aws
awscliv2.zip

.dockerignore
posters
